h2{
   color:#fff;
}
.readfile-link{
   color:#61dafb;
   position: absolute;
   bottom:1em;
   left: 0;
   right: 0;
}

.output-result{
   white-space: pre;
    border: 1px solid #fff;
    margin-top: 3em;
    margin-bottom: 1em;
    margin: 0 auto;
    border-radius: 1em;
    padding: 1em 1.5em 1em;
    max-width:70%;
    width:30em;
}