.upload-file-container form{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    width:20em;
    margin: 0 auto;
    font-size:1.3em;

}

form{
    padding-top:3em;
    width: 10em;
    max-width:80%;
}


input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{
	padding:0;
	border:0;
	background:none;
    color: #61dafb;
    width:100%;
    display:block;
}

/* File Uploads
-----------------------------------------------*/

::-webkit-file-upload-button:hover{
    color:#fff
}

input[type=file]
{
    font-size:1.05em;
    color: #61dafb;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 2em;
}
button{
    color:#61dafb;
    font-size:1em;
}
button:hover{
    color:#fff;
}
