.App {
  text-align: center;
  color:#61dafb;
  background-color:#282c34;
  min-height:100vh;
  display:flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-container{
  border-radius:1em;
  width:80%;
  margin: 0 auto;
  border:2px solid #61dafb;
  min-height:80vh;
  position:relative;

}

.App-link {
  color: #61dafb;
}
